@model ArticlesViewModel
@{
    ViewData["Title"] = "Scarpe & Co";
}

<div>
    <h1>Scarpe & Co</h1>
    <div class="row">
    @foreach (var article in Model.articles)
    {
        <div class="card" style="width: 18rem;">
            <img src="@article.Thumbnail" class="card-img-top" alt="thumbnailImg">
            <div class="card-body">
                <h5 class="card-title">@article.Name</h5>
                <p class="card-text">@article.Description</p>
                <a asp-controller="Home" asp-action="Details" asp-route-id="@article.Id" class="btn btn-primary">Dettagli</a>
            </div>
        </div>
    }
    </div>
    <a asp-controller="Home" asp-action="Add" class="btn border-1 border-dark">Aggiungi Prodotto</a>
</div>
